:root {
  --clr-dark-blue: #14434a;
  --clr-vivid-blue: #60cfe0;
  --clr-light-blue: #97c1c7;
  --clr-grey-blue: #708f94;
  --ff-primary: "Lato", sans-serif;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;
  --fw-black: 900;
  --fs-xs: 20px;
  --fs-s: 25px;
  --fs-m: 38px;
  --fs-l: 60px;
  --fs-xl: 90px;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--ff-primary);
  background-color: var(--clr-light-blue);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
svg,
picture {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.prevent-overflow {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

#main-nav {
  background-color: var(--clr-light-blue);
  padding: 0.5rem;
  display: flex;
  align-items: center;
  margin-top: 15px;
}

#main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

#main-nav li {
  margin-right: 1rem;
}

#main-nav a {
  color: var(--clr-dark-blue);
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  display: inline-block;
  transition: transform 0.3s ease;
}


#main-nav li:hover a {
  transform: scale(1.1);
}

.main-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: calc(100% - 3.25rem); /* Subtract the navbar height */
    padding-top: 8rem; /* Add padding to the top */
  }

#sign-up {
  font-size: var(--fs-l);
}

.input-wrapper,
button[type="submit"] {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

button[type="submit"],
button[type="submit"]:hover {
  margin-top: 20px;
  background-color: var(--clr-vivid-blue);
  border: 1px var(--clr-dark-blue) solid;
}

input[type="text"],
input[type="password"] {
  background-color: var(--clr-dark-blue);
  border: 1px var(--clr-dark-blue) solid;
}

#sign-up-btn {
  color: var(--clr-dark-blue);
  background-color: #60cfe0;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
  color: white;
}

#login-text {
  color: var(--clr-dark-blue);
}
  
