:root {
  --clr-dark-blue: #14434a;
  --clr-grey-blue: #708f94;
  --clr-light-blue: #97c1c7;
  --clr-vivid-blue: #60cfe0;

  --ff-primary: "Lato", sans-serif;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;
  --fw-black: 900;

  --fs-xs: 20px;
  --fs-s: 25px;
  --fs-m: 38px;
  --fs-l: 60px;
  --fs-xl: 90px;
}

body {
  font-family: var(--ff-primary);
  background-color: var(--clr-light-blue);
  color: var(--clr-dark-blue);
}

#main-nav {
  background-color: var(--clr-light-blue);
  padding: 0.5rem;
  display: flex;
  align-items: center;
  padding-top: 15px;
}

#main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

#main-nav li {
  margin-right: 1rem;
}

#main-nav a {
  color: var(--clr-dark-blue);
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  display: inline-block;
  transition: transform 0.3s ease;
}


#main-nav li:hover a {
  transform: scale(1.1);
}

main {
  max-width: 1000px;
  margin: 0 auto;
}

.post {
  margin-bottom: 1.5rem;
}

.post-image {
  width: 100%;
  margin-top: 1rem;
}

.card-footer-item {
  display: flex;
  align-items: center;
  margin-right: 0.75rem;
}

.card-footer-item img {
  margin-right: 0.25rem;
  width: 1.25rem;
  height: 1.25rem;
}

.subtitle {
  margin-right: 0.5rem;
}

.card {
  margin: 1rem auto;
  max-width: 500px;
  padding: 1rem;
  background-color: var(--clr-grey-blue);
  color: var(--clr-light-blue);
  border-radius: 5px;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-header img {
  margin-right: 0.5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.card-header p {
  font-weight: var(--fw-bold);
  font-size: var(--fs-s);
}

.card-content {
  margin-top: 0.5rem;
}

.card-content img {
  width: 100%;
  border-radius: 5px;
}

.card-footer {
  margin-top: 0.5rem;
}
.likeButton {
  margin-right: 8px;
}

.pfp {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}
