:root {
  --clr-dark-blue: #14434A;
  --clr-vivid-blue: #60CFE0;
  --clr-light-blue: #97C1C7;
  --clr-grey-blue: #708F94;
  --ff-primary: 'Lato', sans-serif;
  
  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;
  --fw-black: 900;
  --fs-xs: 20px;
  --fs-s: 25px;
  --fs-m: 38px;
  --fs-l: 60px;
  --fs-xl: 90px;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--ff-primary);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
svg,
picture {
  max-width: 100%;
  display: block;
}


/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.prevent-overflow {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

#main-nav {
  background-color: var(--clr-dark-blue);
  padding: 0.5rem;
  display: flex;
  align-items: center;
  padding-top: 15px;
}

#main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

#main-nav li {
  margin-right: 1rem;
}

#main-nav a {
  color: white;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  display: inline-block;
  transition: transform 0.3s ease;
}


#main-nav li:hover a {
  transform: scale(1.1);
}