:root {
  --clr-dark-blue: #14434a;
  --clr-grey-blue: #708f94;
  --clr-light-blue: #97c1c7;
  --clr-vivid-blue: #60cfe0;

  --ff-primary: "Lato", sans-serif;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;
  --fw-black: 900;

  --fs-xs: 20px;
  --fs-s: 25px;
  --fs-m: 38px;
  --fs-l: 60px;
  --fs-xl: 90px;
}

body {
  font-family: var(--ff-primary);
  background-color: var(--clr-light-blue);
  color: var(--clr-dark-blue);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: stretch; 
  justify-content: space-around;
}

#main-nav {
  background-color: var(--clr-light-blue);
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  position: fixed;
  top: 0; 
  width: 100%; 
  z-index: 1;
}

#main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

#main-nav li {
  margin-right: 1rem;
}

#main-nav a {
  color: var(--clr-dark-blue);
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  display: inline-block;
  transition: transform 0.3s ease;
}

#main-nav li:hover a {
  transform: scale(1.1);
}

#prev-post-section {
  padding: 5%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

#update-post-form {
  padding: 5%;
  flex: 1;
}

.post {
  margin-bottom: 1.5rem;
  flex-grow: 1;
}

.post-image {
  width: 100%;
  margin-top: 1rem;
}

.card-footer-item {
  display: flex;
  align-items: center;
  margin-right: 0.75rem;
}

.card-footer-item img {
  margin-right: 0.25rem;
  width: 1.25rem;
  height: 1.25rem;
}

.subtitle {
  margin-right: 0.5rem;
}

.card {
  margin: 1rem auto;
  max-width: 500px;
  padding: 1rem;
  background-color: var(--clr-grey-blue);
  color: var(--clr-light-blue);
  border-radius: 5px;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-header img {
  margin-right: 0.5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.card-header p {
  font-weight: var(--fw-bold);
  font-size: var(--fs-s);
}

.card-content {
  margin-top: 0.5rem;
}

.card-content img {
  width: 100%;
  border-radius: 5px;
}

.card-footer {
  margin-top: 0.5rem;
}
.likeButton {
  margin-right: 8px;
}

input[type="submit"] {
  background-color: var(--clr-vivid-blue);
  color: white;
}

.centered-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  background-color: white;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

form label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 0.9rem;
}

form input {
  display: block;
  width: 100%;
  height: 2em;
  padding: 0.25em;
  font-size: 0.9rem;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  background-color: white;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  margin-bottom: 1rem;
}

form input[type="submit"] {
  width: auto;
  background-color: #00d1b2;
  color: white;
  cursor: pointer;
  font-weight: bold;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
}

@media screen and (max-width: 767px) {
  form {
    padding: 0.5rem;
  }

  form label {
    font-size: 0.8rem;
  }

  form input {
    height: 1.75em;
    font-size: 0.8rem;
  }

  form input[type="submit"] {
    font-size: 0.8rem;
    padding: 0.25rem 0.5rem;
  }
}
